<div class="margenes">
    <h1>contact</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint voluptate odio possimus. Quas eius eos ipsam quos, excepturi iste rerum ratione laborum omnis hic quae pariatur mollitia, aliquid veritatis! Consequatur.</p>
    <div class="contacto">
        <div class="mb-3 correo">
            <label for="exampleFormControlInput1" class="form-label">you E-mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3 mensaje">
            <label for="exampleFormControlTextarea1" class="form-label">your mesagge</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="please enter your mesagge here..."></textarea>
        </div>
        <button class="btn btn-primary boton">submit</button>
    </div>
</div>