<div class="row margenes " >
    <h1>porfolio</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam corrupti quam perspiciatis saepe hic aliquid dicta pariatur nisi, ex, molestiae eveniet! Exercitationem officiis quasi in inventore reprehenderit minus? Cumque, deleniti.</p>
    <div class="card mx-auto carta" style="width: 18rem;">
        <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card mx-auto carta" style="width: 18rem;">
        <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card mx-auto carta" style="width: 18rem;">
        <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>